<!DOCTYPE html>
<html>

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection" />
	<title>AP Home Tutions | contact : +91-8291481502</title>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="blue-grey lighten-5">
	<!--Import jQuery before materialize.js-->
	<!--*****************************************************************************************************************************************************************************************SIDE NEV BAR******************************************************************************************************************************************************************************************-->
<div id="front" class=" section scrollspy" style="padding: 0rem;" >
	<ul id="slide-out" class="side-nav">
		<li data-activates="slide-in" onclick="$('.button-collapse').sideNav('hide');$('.button-collapse').sideNav('hide');" style="background-color: black; ">
			<i class="right material-icons" style="z-index: 999;    color: white; ">close</i>
			<div class="userView" style="height: 150px; width: 150px; margin-left: 30px ">
				<img class="background" style="height: 150px; width: 150px; z-index: 999; " src="static/img/logo.png">
			</div>

		</li>
		<li>
			<a class="waves-effect" href="#front">Home</a>
		</li>
		<li>
			<a class="waves-effect" href="#boards">Boards</a>
			<a class="waves-effect" href="#subjects">Subjects</a>
		</li>
		<li>
			<a class="subheader">Know Us Who We Are </a>
		</li>
		<li>
			<a class="waves-effect" href="#subjects">About Us</a>
		</li>
		<li>
			<a class="waves-effect" href="#!">Contact Us</a>
		</li>
	</ul>

	<!--**********************************************************MENU HEADER*************************************************-->

	<div id="nav">
		<div class="navbar-fixed">
			<nav class="blue  darken-4">
				<div class="nav-wrapper">
					<a href="#front" class="brand-logo center left-align" style="width: 100%">AP Home Tutions</a>
					<a id="foo"> <i href="#!" data-activates="slide-out" class="material-icons button-collapse" style="margin-left:; "">menu</i></a>
					<!--  href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i> -->
					<!-- <ul class="right hide-on-med-and-down">
										<li><a href="#modalLogin" class="modal-trigger"><i class="mdi-action-perm-identity"></i></a></li>
										<li><a href="#"><i class="mdi-navigation-refresh"></i></a></li>
										<li><a href="#"><i class="mdi-navigation-more-vert"></i></a></li>
								</ul> -->
					<!-- <ul id="nav-mobile" class="section right hide-on-med-and-down" style="padding: 0rem;">
						<li><a href="#front">front</a></li>
						<li><a href="#subjects">subjects</a></li>
					</ul> -->
				</div>
			</nav>
		</div>
		<marquee class="blue lighten-3" direction="left" style="color: white; font-size: 20px; padding: 0rem;"> For Enquirey contact - 9039737484</marquee>
	</div>

	<!-- **************************************************************Main*************************************************** -->
	<!-- **************************************************************Section 1*************************************************** -->
	<div class="Section blue-grey lighten-5 scrollspy" style="padding-bottom: 3%; margin-bottom: 6%" ><!-- Section 1 start -->
		<div class="container">
			<div class="row" style="margin-top:7%; ">
				<div class="col l4 s12 m4">
					<div class="card z-depth-3">
						<div class="card-image ">
							<img src="static/img/student.png">
							<a class="btn-floating halfway-fab waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content blue lighten-3">
							<span class="card-title">Register as a Student</span>
						</div>
					</div>
				</div>
				<div class="col l4 s12 m4">
					<div class="card z-depth-3">
						<div class="card-image">
							<img src="static/img/parient.png">
							<a class="btn-floating halfway-fab waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content blue lighten-3">
							<span class="card-title">Register as a Guardian</span>
						</div>
					</div>
				</div>
				<div class="col l4 s12 m4">
					<div class="card z-depth-3">
						<div class="card-image">
							<img src="static/img/teacher.png">

							<a class="btn-floating halfway-fab waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content blue lighten-3">
							<span class="card-title">Register as a Teacher</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fixed-action-btn horizontal click-to-toggle">
				<a id="menu" class="waves-effect waves-light btn btn-large blue btn-floating pulse waves-effect waves-light	">Demo</a>

				<!-- Tap Target Structure -->
				<div class="tap-target" data-activates="menu">
					<div class="tap-target-content">
						<h5>Title</h5>
						<p>A bunch of text</p>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- Section 1 end -->
	</div>
	<div id="boards" class="Section accent-1 scrollspy" style="margin-top: 0%" >
	<div class="container">
		<div class="row" style="padding: 0%">
			<div class="col l6 s12 m6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col l6 s12 m6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col l6 s12 m6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col l6 s12 m6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
		</div>
	</div>
		
	</div>	
	<div id="subjects" class="Section accent-1 scrollspy" style="margin-top: 12%; margin-bottom: 12%" >
	<div class="container">
		<div class="row" style="padding: 0%">
			<div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
    <div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
    <div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/teacher.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>This is a subject</p>
        </div>
        <div class="card-action">
          <a href="#">+</a>
        </div>
      </div>
    </div>
  </div>
		</div>
	</div>
		
	</div>	
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="static/js/materialize.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });
	// $(".button-collapse").sideNav();
									// Initialize collapse button
					$(".button-collapse").sideNav();
					// Initialize collapsible (uncomment the line below if you use the dropdown variation)
					$('.collapsible').collapsible();
					 $('.button-collapse').sideNav({
							menuWidth: 300, // Default is 300
						// edge: 'right', // Choose the horizontal origin
						closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
						draggable: true, // Choose whether you can drag to open on touch screens,
					//     onOpen: function(el) { /* Do Stuff* / }, // A function to be called when sideNav is opened
					//     onClose: function(el) { /* Do Stuff* / }, // A function to be called when sideNav is closed
						}
					);
					   
        
</script>

</html>