<!DOCTYPE html>
<html>

<head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection" />
	<title>AP Home Tuitions Mumbai | Get Free Demo Class | aphometutions.com‎</title>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="blue-grey lighten-5">
	<!--Import jQuery before materialize.js-->
	<!--*****************************************************************************************************************************************************************************************SIDE NEV BAR******************************************************************************************************************************************************************************************-->
<div id="front" class=" section scrollspy" style="padding: 0rem;" >
	<ul id="slide-out" class="side-nav">
		<li data-activates="slide-in" onclick="$('.button-collapse').sideNav('hide');$('.button-collapse').sideNav('hide');" style="background-color: black; ">

			<div class="userView" style="height: 150px; width: 100%;">
				<img class="background" style="width: 100%; z-index: 999; " src="static/img/logo.png">
			</div>
            <i class="right material-icons" style="z-index: 9999; color: black;">close</i>

		</li>
		<li>
			<a class="waves-effect" href="#front">Home</a>
		</li>
		<li>
			<a class="waves-effect" href="#boards">Boards</a>
			<a class="waves-effect" href="#subjects">Subjects</a>
		</li>
		<li>
			<a class="subheader">Know Us Who We Are </a>
		</li>
		<li>
			<a class="waves-effect" href="#subjects">About Us</a>
		</li>
		<li>
			<a class="waves-effect" href="#!">Contact Us</a>
		</li>
	</ul>

	<!--**********************************************************MENU HEADER*************************************************-->

	<div id="nav">
		<div class="navbar-fixed">
			<nav class="blue  darken-4">
				<div class="nav-wrapper">
					<a href="#front" class="brand-logo center left-align" style="width: 100%">AP Home Tutions</a>
					<a id="foo"> <i href="#!" data-activates="slide-out" class="material-icons button-collapse" style="margin-left:; ">menu</i></a>
					<!--  href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i> -->
					<!-- <ul class="right hide-on-med-and-down">
										<li><a href="#modalLogin" class="modal-trigger"><i class="mdi-action-perm-identity"></i></a></li>
										<li><a href="#"><i class="mdi-navigation-refresh"></i></a></li>
										<li><a href="#"><i class="mdi-navigation-more-vert"></i></a></li>
								</ul> -->
					<!-- <ul id="nav-mobile" class="section right hide-on-med-and-down" style="padding: 0rem;">
						<li><a href="#front">front</a></li>
						<li><a href="#subjects">subjects</a></li>
					</ul> -->
				</div>
                <marquee class="blue lighten-3" direction="left" style="color: white; font-size: 20px; padding: 0rem;"> For enquirey contact                 : +91-8291481502, +91-7506462054</marquee>
			</nav>

		</div>
		<!--<marquee class="blue lighten-3" direction="left" style="color: white; font-size: 20px; padding: 0rem;"> For Enquirey contact - 9039737484</marquee>-->
	</div>

	<!-- **************************************************************Main*************************************************** -->
	<!-- **************************************************************Section 1*************************************************** -->
	<div class="Section blue-grey lighten-5 scrollspy" style="padding-bottom: 3%; margin-bottom: 6%" ><!-- Section 1 start -->
		<div class="container">
			<div class="row" style="margin-top:7%; ">
				<div class="col l4 s12 m4">
					<div class="card z-depth-3">
						<div class="card-image ">
							<img src="static/img/student.png">
							<a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content blue lighten-3">
							<span class="card-title">Register as a Student</span>
						</div>
					</div>
				</div>
				<div class="col l4 s12 m4">
					<div class="card z-depth-3">
						<div class="card-image">
							<img src="static/img/parient.png">
							<a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content blue lighten-3">
							<span data-target="modal1" class="card-title">Register as a Guardian</span>
						</div>
					</div>
				</div>
				<div class="col l4 s12 m4">
					<div class="card z-depth-3">
						<div class="card-image">
							<img src="static/img/teacher.png">

							<a data-target="modal2" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
						</div>
						<div class="card-content blue lighten-3">
							<span class="card-title">Register as a Teacher</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fixed-action-btn horizontal click-to-toggle">
				<a id="menu" data-target="modal1" class="waves-effect waves-light btn modal-trigger btn-large blue btn-floating pulse waves-effect waves-light	">Demo</a>
                <!-- Modal Trigger -->
<!--<form action="{{ url_for('sendMail') }}" method="post">-->

    <!--<input type="text" name="projectFilepath">-->
    <!--<input type="submit">-->
                      <!--</form>-->
                <!-- Modal Structure -->
                  <div id="modal1" class="modal" style="z-index:1029">
                      <form action="{{ url_for('sendMail') }}" method="post" role="form">
                    <div class="modal-content">

                      <h4>Registration</h4>
                      <input placeholder="Full Name" id="full_name" name="full_name" type="text">
                        <label for="full_name">Full Name</label>
                        <input placeholder="Phone Number" id="mobile" name="mobile" type="text">
                        <label for="mobile">Phone Number</label>
                        <input placeholder="Class" id="class" name="class" type="text">
                        <label for="class">Class</label>
                        <input placeholder="Subject" id="subject" name="subject" type="text">
                        <label for="subject">Subject</label>
                        <input placeholder="School" id="school" name="school" type="text">
                        <label for="school">School</label>
                    </div>
                    <div class="modal-footer">
                      <a id="test" type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
                    </div>
                      </form>
                  </div>
                <div id="modal2" class="modal" style="z-index:1029">
                    <div class="modal-content">
                      <h4>Registration</h4>
                      <input placeholder="Full Name" id="T_full_name" type="text">
                        <label for="full_name">Full Name</label>
                        <input placeholder="Phone Number" id="T_mobile" type="text">
                        <label for="T_mobile">Phone Number</label>
                        <input placeholder="Experience" id="experience" type="text">
                        <label for="experience">Experience</label>
                        <input placeholder="Qualification" id="qualification" type="text">
                        <label for="qualification">Qualification</label>
                        <input placeholder="Subject" id="Tsubject" type="text">
                        <label for="Tsubject">Subject</label>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
                    </div>
                  </div>
				<!-- Tap Target Structure -->
				<div class="tap-target" data-activates="menu">
					<div class="tap-target-content">
						<h5>Title</h5>
						<p>A bunch of text</p>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- Section 1 end -->
	</div>
	<div id="boards" class="Section accent-1 scrollspy" style="margin-top: 0%" >
	<div class="container">
        <h4 >Board</h4>
		<div class="row" style="padding: 0%">
			<div class="col l6 s12 m6">
    <div class="card horizontal ">
      <div class="card-image" style="height: 244px;">
        <img src="static/img/cbse.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">CBSE</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>

      </div>
    </div>
  </div>
  <div class="col l6 s12 m6">
    <div class="card horizontal">
      <div class="card-image" style="height: 244px;">
        <img src="static/img/stateboard.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">State Board</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>

      </div>
    </div>
  </div>
        </div>
        <div class="row" style="padding: 0%">
  <div class="col l6 s12 m6">
    <div class="card horizontal">
      <div class="card-image" style="height: 244px;">
        <img src="static/img/icse.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">ICSC</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>

      </div>
    </div>
  </div>
  <div class="col l6 s12 m6">
    <div class="card horizontal">
      <div class="card-image" style="height: 244px;">
        <img src="static/img/ib.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">IB</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>

      </div>
    </div>
  </div>
		</div>
	</div>

	</div>
	<div id="subjects" class="Section accent-1 scrollspy" style="margin-top: 12%; margin-bottom: 12%" >
	<div class="container">
        <h4 style="fontf">Subject</h4>
		<div class="row" style="padding: 0%">
			<div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image" style="height:145px">
        <img src="static/img/physics.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Physics</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>

      </div>
    </div>
  </div>
 <div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image" style="height:145px">
        <img src="static/img/chemistry.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Chemistry</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>

      </div>
    </div>
  </div>
<div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image" style="height:145px">
        <img src="static/img/mathematics.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Mathematics</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>

      </div>
    </div>
  </div>
        </div>

             <div class="row" style="padding: 0%">
			<div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/ed.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Engineering Drawing</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>

      </div>
    </div>
  </div>
  <div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/em.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Engineering Mathematics</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>

      </div>
    </div>
  </div>
  <div class="col l4 s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="static/img/pl.png">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Programming Languages</span>
            <a data-target="modal1" class="btn-floating halfway-fab modal-trigger waves-effect waves-light blue pulse waves-effect waves-light	"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div>
        </div>

		</div>
	</div>
		
	</div>	
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="static/js/materialize.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });
	// $(".button-collapse").sideNav();
									// Initialize collapse button
					$(".button-collapse").sideNav();
					// Initialize collapsible (uncomment the line below if you use the dropdown variation)
					$('.collapsible').collapsible();
					 $('.button-collapse').sideNav({
							menuWidth: 300, // Default is 300
						// edge: 'right', // Choose the horizontal origin
						closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
						draggable: true, // Choose whether you can drag to open on touch screens,
					//     onOpen: function(el) { /* Do Stuff* / }, // A function to be called when sideNav is opened
					//     onClose: function(el) { /* Do Stuff* / }, // A function to be called when sideNav is closed
						}
					);
					   
        
</script>
<script>
    $(document).ready(function(){
    $('.modal').modal();
  });

</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116713838-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116713838-1');
</script>
<script>
    $(function($) {
    $('#test').on('click', function(e) {
        e.preventDefault();
        console.log(e.currentTarget);
        $.ajax({
            url: 'http://aphometutions.com/send',
            data: $('form').serialize(),
            type: 'post',
            success: function(response) {
                console.log(response)
                    alert("Request submitted")
            },
            error: function(er) {
                alert("Something Went wrong!!")
                $("#msg").html('<span><font color=red size=3>Wrong Credentials</font></span>')
                console.log(er)
            }
        })
    })
})
</script>

</html>